header

        //A navigation bar with different id's, so that i can customize each link in main.css
<div id="mySitenav" class="sitenav">
        a(href="/" id="home") Home
        a(href="/AboutMe" id="about") About me
        a(href="/Projects" id="projects") Projects
        a(href="/Services" id="services") Services
        a(href="/ContactMe" id="contact") Contact Me
        br