header
    p Navigation Bar

    nav
        a(href="/index") Home
        br
        a(href="/About me") About me
        br
        a(href="/Projects") Projects
        br
        a(href="/Services") Services
        br
        a(href="/Contact Me") Contact me
        br
        br
        br