header
    p Navigation Bar

    nav
        a(href="/") Home
        br
        a(href="/AboutMe") About me
        br
        a(href="/Projects") Projects
        br
        a(href="/Services") Services
        br
        a(href="/ContactMe") Contact Me
        br
        br
        br