extends layout

block content
  h1= title
  p Welcome to #{title} page
  include Partials/Header   
  br
  p Vladyslav Serdiuk is high-end human being, The creator of super high-end pro-designed website "Portfolio"
  include Partials/Footer