extends layout

block content
  h1= title
  include Partials/Header  
  br
  p You MAY call: (249)359-9389
  p You can email me: 200406142@student.georgianc.on.ca or kotvasyanapivase@gmail.com
  p You can come physically to: oh no, you can't 
  include Partials/Footer