extends layout

block content
  h1= title
  p Welcome to #{title} page
  
  include Partials/Header

  p Useless Home Page. Oh no! Not completely useless, here you can navigate to other useless pages! Wow, great !

  include Partials/Footer