extends layout

block content
  h1= title
  p Welcome to #{title} page
  include Partials/Header  
  br
  p I can help with the assembly / modernization of the PC, installing the software, writing java / c # / c ++ / js / html code. I am also a specialist in wasting time.
  include Partials/Footer