extends layout

block content
  h1= title
  include Partials/Header  
  br
  p I don't really know what services i can provide, but i have a great finance pyramid start-up...
  include Partials/Footer